body {
    background-color: #DBA901;
}
.acendienteMayor {
	width: 400px;
	height: 400px;
	margin-left: 500px;
	margin-top: 50px;

}

.padre {
	width: 200px;
	height: 200px;
}

.hijo {
	width: 100px;
	height: 100px;
}


#rojo {
	background-color: red;
}

#azul {
	background-color: blue;
}

#morado {
	background-color: purple;
}

#verde {
	background-color: green;
}

#amarillo {
	background-color: yellow;
}

#negro {
	background-color: black;
}